.styleguide-item-wrapper {
  margin-bottom: 2em;

  .layout-container {
    padding: 0;

    @include respond-to('small') {
      padding: 0;
    }
  }
}

.styleguide-item-wrapper__item-heading {
  @include font('mono', 'medium', 'bold');
  display: inline-block;
  color: colour('charcoal');
  border-bottom: 3px solid colour('charcoal');
}

.styleguide-item-wrapper__body {
  display: none;
  background: colour('mist');
  color: colour('granite');
  padding: 20px;
  border-radius: 3px;
  border: 1px solid colour('smoke');
  margin-bottom: 1em;

  .styleguide-item-wrapper__details.is-active & {
    display: block;
  }
}

.styleguide-item-wrapper__code {
  font-family: 'source code pro', 'courier new', courier, monospace;
  overflow: scroll;
  padding: 10px;
  display: block;
  border-radius: 3px;
  background: colour('mist');
  color: colour('granite');
  text-shadow: .05em .05em 0 rgba(255, 255, 255, .8)
}

.styleguide-item-wrapper__pre {
  margin: 0;
  max-width: 400px;
}

.styleguide-item-wrapper__heading {
  position: relative;
  cursor: pointer;
  padding-top: .4em;
  margin-top: .9em;
  margin-bottom: .6em;
  font-weight: 500;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: -.4em;
}

.styleguide-item-wrapper__chevron {
  position: relative;
  top: .2em;
  width: 1em;
  height: 1em;
  fill: currentColor;

  .styleguide-item-wrapper__details.is-active & {
    transform: rotate(90deg);
  }
}

.styleguide-item-wrapper__item-heading {
  margin-bottom: 1em;
}

.styleguide-item-wrapper__description {
  margin-bottom: 1em;
}
