//* @define text; weak

.text {
  ul,
  ol {
    padding-left: 1.2em;
    margin-bottom: 1.2em;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: lower-roman;
  }

  a {
    @extend %link;
  }
}
